body{
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, sans-serif;
}

nav{
    background-color: cadetblue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

nav p{
    font-size: 5vh;
    margin: 5px 10px 5px 20px;
    color: white;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 3vh;
}
nav a:hover{
    color: tomato;
    font-size: 3.5vh;
}
